*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/background-img.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2rem;
}

.header {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-align {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
}

.imagePreview {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.image-item {
  display: flex;
  margin: 10px 0;
}

.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

button {
  height: 40px;
}

.loader-container {
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

/* Login and Registration */
.login-form {
  padding: 5% 10% 10% 10%;
}

.logo-registration {
  width: 100%;
  padding-bottom: 5%;
  float: left;

}
.profile-icon {
  text-align: center;
  margin-top: -10%;
}
.login-field {
  padding-top: 10%;
  padding-right: 10%;
  width: 40%;
  height: 100%;
  float: right;
}

.reg-field {
  padding-top: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sign-btn {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  width: 100%;
  color: #366d63 !important;
}

.forg-password-text {
  color: white;
  text-align: start;
}

.reg-text {
  color: white;
  text-align: center;
}

.label-text {
  color: white;
}

.img-preview {
  float: right;
  margin-top: -10%;
  width: 30%;
  height: auto;
}

.form-check-label {
  padding-left: 10px;
  color: white;
}

.nav-item {
  color: white;
}

/* Breaking pointto become mobile friendly */
@media screen and (min-width: 700px) {
  .login-container {
    max-width:50%;
  }
  .registration-container {
    max-width:80%;
  }
}

.sign-in-box-card-body {
  padding: 5px;
  height: auto;
  border-radius: 10px;
}

.sign-in-box-card, .reg-box-card {
  width: 100%;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background:#1a11117a;
}

.card-title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 5%;
}


.nav-item {
  color: white;
  text-align: right;
  padding-right: 0;
}

.form-check-label, .nav-item {
  font-size: 14px;
}

.userbox {
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

.spanerror {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.bg {
  /* The image used */

  background-image: url("/public/bg_green.png");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: 000000;
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
